<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../public/css/user/products.css">
<link rel="stylesheet" href="../../public/css/admin/main.css">

</head>

<body>
    
<%- include('../includes/nav.ejs') %>
    <main>
        <br>
            <% if (prods.length>0)  { %>
            <div class="products__gridContainer">
                <% for (let product of prods) { %>
                    <div class="products__productCase">
                        <div class="products__product">
                            <img src="<%= product.imageUrl %>" class="products__productImage">
                            <br>
                            <h2 class="products__productName"><%= product.title %></h2>
                            <hr>
                            <p class="products__productDescription"><%= product.description %>
                                <br><br><i>Starting MSRP<strong> $<%= product.price %></strong></i></p>
                        </div>
                        <div class="card__actions">
                            <form action="/add-details/<%= product.id %>" > <!-- shaghlto yehke ma3 controller, shghlto yshtghl ma3 data by7mlon ma3o, eza ken get shghlto to retrieve data-->
                                <button type="submit" class="btn">Add Details</button>
                            </form>
                            <a href="/edit-details/<%= product.id %>"  class="btn">Edit Details</a>
                            <a href="/edit-car/<%= product.id %>"  class="btn">Edit Vehicle</a> <!--used bas lal get requests w shghleta bas eno tekhedne 3a aanother route, ma 3nda data t7mla -->
                            <form action="/delete-car" method="POST">
                                <button type="submit" class="btn">Delete Vehicle</button>
                                <input type="hidden" value="<%= product.id %>" name="productId" >
                            </form>
                            <form action="/add-details/<%= product.id %>" > 
                                <button type="submit" class="btn">Add Configuration</button>
                            </form>
                        </div>
                    </div>       
                <% } %>
            </div> 
        <% } else { %>
            <p> OOPS! No Products Found</p> <!-- INCLUDE CSS -->
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
