<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../public/css/user/vehicle_config_options.css">

</head>

<body onload="changeHandler()">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
<%- include('../includes/nav.ejs') %>
<br>
<hr>

<h3 class="options__dynamicPrice-div">Price: <span id="dynamic_price_options"></span></h3>
<br>
<div class="options__gridContainer">
	<div class="options__optionCase">
		<div class="options__option">
			<img src="<%= optImage11 %>" class="options__optionImage">
			<br>
			<h2 class="options__optionName"><%= optName11 %></h2>
			<hr>
			<p class="options__optionDescription"><%= optDesc11 %>
				<br><br><strong>$<%= optPrice11 %></strong></p>
			<button class="options__button" onclick=setCamFlag()>Add</button>
			<button class="options__button" onclick=setNoCamFlag()>Remove</button>
		</div>
	</div>
	<div class="options__optionCase">
		<div class="options__option">
			<img src="<%= optImage21 %>" class="options__optionImage">
			<br>
			<h2 class="options__optionName"><%= optName21 %></h2>
			<hr>
			<p class="options__optionDescription"><%= optDesc21 %>
				<br><br><strong>$<%= optPrice21 %></strong></p>
			<button class="options__button" onclick=setSeatFlag()>Add</button>
			<button class="options__button" onclick=setNoSeatFlag()>Remove</button>
	</div>
</div>
	<div class="options__optionCase">
		<div class="options__option">
			<img src="<%= optImage31 %>" class="options__optionImage">
			<br>
			<h2 class="options__optionName"><%= optName31 %></h2>
			<hr>
			<p class="options__optionDescription"><%= optDesc31 %>
				<br><br><strong> $<%= optPrice31 %></strong></p>
			<button class="options__button" onclick=setSoundFlag()>Add</button>
			<button class="options__button" onclick=setNoSoundFlag()>Remove</button>
		</div>
	</div>
</div>
<div class="options__nextDiv">
<a href="/summary1/<%= product.id %>" class="config__next-center" id="nextButton">
	NEXT: Summary
</a>
</div>
<script type="text/javascript" src="../../public/js/Aura_Luxe_Config_Options.js" async></script>
<%- include('../includes/end.ejs') %>